.content {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
  padding-left: 5px;

  @media (max-width: $vp-1024) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $vp-768) {
    padding-top: 10px;
  }
}

.content-txt {
  font-family: $font-poppins;
  font-style: normal;
  margin-right: 78px;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 65px;
    color: $h-color;
    margin: 21px 0 12px;

    @media (max-width: $vp-768) {
      font-size: 36px
    }
  }

  p {
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 26px;
    color: $p-color;
    margin: 0 0 28px 0;
    padding: 0;
  }

  @media (max-width: $vp-1280) {
    br:first-child {
      display: none;
    }
    max-width: 600px;
    margin-right: 0;
  }
}

.content-txt__link {
  color: $orange-color;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.content-txt__button {
  padding: 13px 21px;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 22px;
  border-radius: 31px;
  margin-bottom: 48px;

  @media (max-width: $vp-1024) {
    width: 100%;
  }
}

.content-txt__form {
  margin-bottom: 41px;

  input {
    position: relative;
    width: 597px;
    height: 62px;
    padding: 21px 40px 22px;
    background: $color-default-white;
    box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
    border-radius: 100px;
    border: none;

    @media (max-width: $vp-1024) {
      width: 100%;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: $placeholder-color;

      @media (max-width: $vp-768) {
        font-size: 12px;
      }
    }
  }
}

.content-txt__serch {
  position: absolute;
  margin-left: -60px;
  margin-top: 3px;
  border-radius: 50px;
  width: 55px;
  height: 55px;

  svg {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.content__illustration {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;

  @media (max-width: $vp-1280)  {
    width: 100%;
  }
}
