.header {
  padding: 30px 0;

  &__logo {
    color: $color-default-white;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

// .header__btn {
//   @media (max-width: $vp-320) {
//     display: none;
//   }
// }

