header.header
    .header__wrapper.container
      a(href="#").header__logo
        img(src="../img/svg/logo.svg", alt="Logo")
      nav.header__menu.menu(id="nav")
        ul.menu__list
          li.menu__link.menu__link--active
            a(href="#") Mobile Top Up
          li.menu__link
            a(href="#") About
          li.menu__link
            a(href="#") Rate
          li.menu__link
            a(href="#") Help

      button.header__btn.btn Sign Up
      .header__burger
        span


