doctype html


//- block variables

html(lang="en")
  head
    title Global
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Global")
    link(rel="icon" type="image/png" sizes="40x40" href="../img/favicon.png")
    link(rel="preload" href="../fonts/Poppins-Bold.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="../fonts/Poppins-Medium.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="../fonts/Poppins-Regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="../fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="../fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="stylesheet", href="css/style.min.css")

  body
    include ../components
    //- header
    //- main
    //- footer

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
