main
  .container
    .content
      .content-txt
        h1 Now Buy Your <br> PIN&nbsp;or&nbsp;
          a.content-txt__link(href="#") Top&nbsp;Up
          <br> With Bank Transfer
        p.content-txt__description We Make international calling simple, relible, and cheap<br> basedon your unique calling behavior.
        button.content-txt__button.btn Get Started
        form.content-txt__form
          label.visually-hidden(for="search") search form
          input(type="text" id="search" name="search" placeholder="Where do you want to call?" minlength="4" maxlength="12")
          button.content-txt__serch.btn(type="submit")
            svg(width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M12.4267 20.9866C17.1518 20.9866 20.9822 17.1561 20.9822 12.431C20.9822 7.70594 17.1518 3.87549 12.4267 3.87549C7.70155 3.87549 3.87109 7.70594 3.87109 12.431C3.87109 17.1561 7.70155 20.9866 12.4267 20.9866Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M23.1208 23.1252L18.4688 18.4731" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

        .users
          .users__block
            img.users__block-img.users__block-img--1(src="../img/svg/user1.svg", alt="user1" width="38")
            img.users__block-img.users__block-img--2(src="../img/svg/user2.svg", alt="user2" width="38")
            img.users__block-img.users__block-img--3(src="../img/svg/user3.svg", alt="user3" width="38")
            img.users__block-img.users__block-img--4(src="../img/svg/btn-plus.svg", alt="plus" width="38")

          p 45k+ Regular User.
            a(href="#")  View Price Plan

      .content__illustration.illustration
        .illustration__country
          .illustration__country-flag
            img(src="../img/content/italian-flag.png" alt="italian flag" width="120")
          .illustration__country-flag
            img(src="../img/content/british-flag.png" alt="british flag" width="130")
          .illustration__country-flag
            img(src="../img/content/indian-flag.png" alt="indian flag" width="140")
          .illustration__country-flag
            img(src="../img/content/indian-flag.png" alt="indian flag" width="120")
          .illustration__country-flag
            img(src="../img/content/indian-flag.png" alt="indian flag" width="100")
        .illustration__core
          .illustration__core-img
            img(src="../img/content/girl.png" alt="girl" width="836")
